# ==========================
# Environment Variables
# ==========================
.env
.env.local

# ==========================
# Python
# ==========================
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Node / React
# ==========================
node_modules/
dist/
build/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/